body
{
	font-family: Consolas, Courier New, Courier, monospace;
	font-size: 8pt;
	background: #BBB;
}



/* Layout Styles */

.position-fullscreen
{
	position:	absolute;
	margin:		0;
	padding:	0;
	top:		0;
	left:		0;
	width:		100vw;
	height:		100vh;
}

.position-center
{
	display:		inline-block;
	position:		relative;
	left:			50%;
	transform:		translate(-50%,0);
	margin-right:	-50%;
}



/* Common Panel Styles */

.panel
{
	padding:		5px;
	margin:			5px;
	border-radius:	5px;
	background:		#DDD;
	color:			#000;
}

.panel-16
{
	height:			16px;
}

.panel-block
{
	white-space:	pre;
	display:		block;
	overflow-y:		auto;
}

.panel td
{
	padding: 0;
}



/* Basic style resets */

*		{ font-family: inherit; }
h1		{ font-family: inherit; text-align: center; }
h2		{ font-family: inherit; text-align: center; }
table	{ font: inherit; white-space: inherit; }



/* Once-off Styles */

.editor
{
	min-height:		200px;
	flex-grow:		2;
	flex-shrink:	2;
	flex-basis:		500px;
}

.output
{
	background:		#000;
	color:			#FFF;

	min-height:		200px;
	flex-grow:		1;
	flex-shrink:	1;
	flex-basis:		300px;
}







/* Ace Editor Styles */
/*.ace_gutter-cell*/	.current-line	{ background-image: url(icons/current-line.png); }
/*.ace_line*/			.current-column	{ /*background-color: #FF0;*/ border: 2px solid #FF0; position: absolute; z-index: 10; margin-left: -2px; margin-top: -2px; }

.breakpoint-enabled-line	{ background-image: url(icons/breakpoint-enabled.png); }
.breakpoint-disabled-line	{ background-image: url(icons/breakpoint-disabled.png); }